Repository codeceptjs/CodeceptJS, pull requests merged in 2020-03, with the labels that each got.

#2261 fix: change overlapping logic
  lib/helper/scripts/isElementClickable.js
  test/data/app/view/form/wait_for_clickable.php
  test/helper/Puppeteer_test.js
  test/helper/WebDriverIO_test.js
Labels: bug, ready for merging, ready for review

#2237 Fixed finishedTest checks in run-workers command with rerun parameter
  lib/command/run-workers.js
Labels: bug, ready for merging

#2277 Custom locators playwright 0.12.1
  docs/helpers/Playwright.md
  docs/playwright.md
  lib/helper/Playwright.js
  lib/helper/extras/PlaywrightPropEngine.js
  lib/locator.js
  package.json
Labels: playwright

#2284 bump mkdirp version
  package.json
Labels: bump libs version

#2283 bump puppeteer to v2
  docs/helpers/Puppeteer-firefox.md
  lib/helper/Puppeteer.js
  package.json
Labels: bump libs version, puppeteer

#2253 Screenshot session fix
  lib/helper/Playwright.js
  lib/helper/Puppeteer.js
  lib/session.js
  test/acceptance/codecept.Playwright.js
  test/acceptance/codecept.Puppeteer.js
  test/acceptance/session_test.js
  test/support/ScreenshotSessionHelper.js
Labels: puppeteer, ready for review

#2287 [WebDriver]: upgrade to wdio v6
  docs/helpers/WebDriver.md
  lib/helper/WebDriver.js
  package.json
Labels: bump libs version, webdriver

#2248 handle beforesuite failures when allure enabled and report beforesuite failures
  lib/plugin/allure.js
  test/data/sandbox/configs/allure/before_suite_test_failed.conf.js
  test/data/sandbox/configs/allure/before_suite_test_failed.js
  test/runner/allure_test.js
Labels: bug, ready for review, reporter:allure

#2252 Update worker docs
  docs/parallel.md
  lib/command/run-workers.js
  lib/event.js
  lib/workers.js
  test/unit/worker_test.js
Labels: documentation
