Repository codeceptjs/CodeceptJS, pull requests merged in 2023-09, with the labels that each got.

#3856 fix: bump puppeteer
  .circleci/config.yml
  Dockerfile
  lib/helper/Puppeteer.js
  package.json
  test/helper/webapi.js
Labels: puppeteer, docker image

#3848 fix: cli init translation use correct actor instead of I
  lib/command/init.js
  test/runner/init_test.js
Labels: enhancement

#3847 fix: switchTo throws error when passing strict locator
  lib/helper/Playwright.js
  lib/helper/Puppeteer.js
  test/data/app/view/iframe.php
  test/helper/webapi.js
Labels: bug, puppeteer, playwright

#3845 fix(browserstack): issue with vendor prefix
  docs/helpers/Appium.md
  lib/helper/Appium.js
Labels: bug, appium

#3858 feat(cli): show environment info in verbose mode
  lib/command/run-workers.js
  lib/command/run.js
  test/runner/timeout_test.js
Labels: enhancement, cli
