Repository codeceptjs/CodeceptJS, pull requests merged in 2023-08, with the labels that each got.

#3802 docs: improve the configuration of electron testing
  docs/playwright.md
Labels: documentation, playwright

#3787 fix: add more methods to graphql helper
  docs/helpers/GraphQL.md
  lib/helper/GraphQL.js
  test/graphql/GraphQL_test.js
Labels: enhancement, graphql

#3738 feat: move to Locator playwright
  docs/helpers/Playwright.md
  lib/helper/Playwright.js
  lib/helper/extras/PlaywrightReact.js
  package.json
  test/acceptance/react_test.js
  test/acceptance/within_test.js
  test/data/app/view/form/field.php
  test/helper/Playwright_test.js
  test/helper/webapi.js
Labels: enhancement, playwright

#3815 feat(text): normalize spaces
  lib/helper/Playwright.js
  lib/helper/Puppeteer.js
  lib/helper/TestCafe.js
  lib/utils.js
  test/data/app/view/index.php
  test/helper/webapi.js
Labels: bug, puppeteer, playwright

#3789 feat(playwright): recording WS messages
  docs/helpers/Playwright.md
  lib/helper/Playwright.js
  test/helper/Playwright_test.js
Labels: enhancement, playwright

#3805 fix: error when using all with run-workers
  lib/command/run-multiple/collection.js
Labels: bug

#3794 fix(pw): waitForUrl API
  docs/helpers/Playwright.md
  lib/helper/Playwright.js
  test/helper/Playwright_test.js
Labels: enhancement, playwright

#3771 fix(pw): some improvements for recording network steps
  docs/helpers/Playwright.md
  lib/helper/Playwright.js
  test/helper/Playwright_test.js
  typings/tests/helpers/Playwright.types.ts
  typings/tests/helpers/PlaywrightTs.types.ts
Labels: enhancement, playwright

#3779 Fix highlight element js handle context problem
  lib/helper/Playwright.js
  lib/helper/Puppeteer.js
  lib/helper/scripts/highlightElement.js
Labels: bug, puppeteer, playwright

#3812 devops: Close inactive issues
  .github/workflows/close-inactive-issues.yml
Labels: CI/CD

#3809 feat: grab metrics playwright
  .github/workflows/playwright.yml
  docs/helpers/Playwright.md
  lib/helper/Playwright.js
  test/helper/Playwright_test.js
Labels: playwright

#3788 fix: improve def command
  lib/command/definitions.js
  tsconfig.json
Labels: enhancement, typescript

#3831 release 3.5.4
  CHANGELOG.md
  package.json
Labels: release
